/* 초기값 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}






/* 설정값 */

body { 
    margin-top: 50px;
    background-color:#ffffff;
}

h1 { 
    font-size: 40px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 50px;
}





/* 구구단 */

.gugudan_h1 {
    margin-bottom: 30px;
}

.gugudan_input_button_div {
    padding: 18px 0px 80px 0px;
    display: flex; 
}

.gugu-list { 
    list-style: none; 
    padding: 0; 
    width: 200px; 
    margin: 20px auto; 
    border: 2px solid #131313;
    border-radius: 22px;
    background-color:#ffffff;
}

.gugu-list li { 
    padding: 18px; 
    border-bottom: 1px dashed #a3a3a3; 
    font-size: 1.2em; 
}

.gugu-list li:last-child { 
    border-bottom: none; 
}

.gugudan_div {
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 12px 26px;
    margin: 0 auto;
}

.gugudan_input {
    color: var(--grey800);
    background-color: #ffffff;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    width: 100%;
}

.gugudan_button {
    width: 160px;
    padding: 15px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    transition: 0.2s;
    margin-left: 12px;
}





/* 문의하기 */

.contact_body {
    padding: 20px;
    color: #333;
}

input {
    width: 100%;
    min-width: 0;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1px auto 0;
    line-height: 20px;
    display: block;
    border: 2px solid #131313;
    border-radius: 10px;
}

.contact_input {
    color: var(--grey800);
    background-color: #ffffff;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
}

.contact_div {
    width: 100%;
    max-width: 600px;
    padding: 12px 26px;
    margin: 0 auto;
}

.contact_complete_div {
    width: 100%;
    max-width: 600px;
    padding: 100px 26px;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    width: 100%;
    padding: 8px 0;
}

.label_input_div {
    padding: 18px 0;
}

textarea {
    overflow: auto; /* 내용이 넘치면 스크롤 생김 */
    resize: vertical; /* 세로만 늘릴 수 있음 */
}

.contact_textarea {
    max-height: 234px;
    min-height: 160px;
    width: 100%;
    padding: 12px 16px;
    border: 2px solid #131313;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box; /* 패딩 + border 포함 */
    font-family: "Segoe UI", sans-serif;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.contact_button {
    width: 160px;
    padding: 15px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    transition: 0.2s;
}

.contact_complete_a {
    width: 160px;
    padding: 15px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 30px auto 0;
    transition: 0.2s;
    text-decoration: none;
}





/* flash */

.flash {
    color: rgb(255, 69, 69);
}





/* index */

.index_div {
    width: 100%;
    max-width: 600px;
    padding: 100px 26px;
    margin: 0 auto;
    text-align: center;
}

.index_h1 {
    line-height: 54px;
}

.index_a {
    flex: 1;   /* 남은 공간을 균등하게 나눠 가짐 */
    padding: 24px 0; 
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    text-align: center; 
}

.a_inline {
    text-align: center;
    display: flex;
    gap: 12px;  
}

.index_a2 {
    display: block;
    padding: 24px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    text-align: center;
    margin: 12px auto 0 auto; /* 상단 12px, 좌우 가운데 정렬 */
}






/* images */

.images_div {
    width: 100%;
    max-width: 1200px;
    padding: 100px 26px;
    margin: 0 auto;
}

.images_a {
    display: block;  /* block 요소로 만들어야 margin auto 적용 가능 */
    width: 120px;
    padding: 16px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 24px auto 0 auto;
    text-decoration: none;
}

.images_p {
    padding-bottom: 24px;
}

.images_h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

.images_h1_a {
    text-align: center;
    margin-bottom: 60px;
    padding: 0;
}

.images-card button {
    background-color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    background: #ffffff;
    border-color: 131313;
    border-radius: 10px;
    font-size: 16px;
}

.images-card button:hover {
    background-color: #131313;
    color: #fff;
}

.images-list-header {
    display: flex;
    align-items: center;
    padding: 32px 12px;
    justify-content: space-between;
    border-bottom: 2px solid #131313;
    font-weight: 600;
}

.images-card {
    display: flex;
    align-items: center;
    padding: 32px 12px;
    justify-content: space-between;
    border-bottom: 2px solid #131313;
    font-weight: 400;
    line-height: 24px;
}

.col-images { width: 140px; text-align: center; }
.col-filename { width: 200px; text-align: center; }
.col-uploaded { width: 120px; text-align: center; }
.col-modified { width: 120px; text-align: center; }
.col-size { width: 100px; text-align: center; }
.col-action { width: 100px; text-align: center; }






/* upload */

.form-control-file {
    color: var(--grey800);
    background-color: #ffffff;
    outline: none;
    transition: all 0.2s ease;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    padding: 12px 16px;
    width: 100%;
}

.upload_p {
    padding-bottom: 56px;
}

.upload_h1 {
    text-align: center;
    width: 100%;
    margin-bottom: 24px;
}

input#submit {
    width: 100%;
    padding: 18px;
    background: #131313;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
    transition: 0.2s;
    text-decoration: none;
    display: inline-block;
}
